.content {
    width: 100% - 100px;
    height: 100%;
    margin: 0;
    padding: 50px;
    border: 1px solid #000;
}
.header {
    width: 100% - 40px;
    border: 1px dotted #0b0b0b;
    padding: 20px;
}

#initEdit, #initSave, #initUnload {
    display: none;
}

.post-image {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
}